@media only screen and (max-width: 767px) {
    .form-container {
        margin-top: 2%;
    }
}

@media only screen and (min-width: 768px) {
    .form-container {
        margin: 30%;
        margin-top: 2%;
    }
}

.form-check {
    margin: 10px;
}

.categoriesc {
    margin-top: 30px;
}

.list-unstyled {
    max-height: 400px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.editanddelete {
    text-align: right;
    margin-bottom: 2%;
}

.contentcontainer {
    margin-top: 10px;
}

.confirm {
    text-align: center;
}

a, p, h1, label, .active {
    color: #fff;
}

body {
    background-color: #2B2B2B;
}

.navbar {
    background-color: #171a1d;
}

.btn {
    margin: 2px;
}
